@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularStd-BlackItalic.woff2") format("woff2"),
    url("assets/font/CircularStd-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularStd-Black.woff2") format("woff2"),
    url("assets/font/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularStd-BoldItalic.woff2") format("woff2"),
    url("assets/font/CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularStd-Bold.woff2") format("woff2"),
    url("assets/font/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("assets/font/CircularStd-BookItalic.woff2") format("woff2"),
    url("assets/font/CircularStd-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("assets/font/CircularStd-Book.woff2") format("woff2"),
    url("assets/font/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularStd-MediumItalic.woff2") format("woff2"),
    url("assets/font/CircularStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularStd-Medium.woff2") format("woff2"),
    url("assets/font/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularSpotifyText-LightItalic.woff2") format("woff2"),
    url("assets/font/CircularSpotifyText-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("assets/font/CircularSpotifyText-Light.woff2") format("woff2"),
    url("assets/font/CircularSpotifyText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Circular Std", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
}

header {
  background-color: #541554;
}

.navbarInitial {
  display: flex;
  background-color: #541554;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 7.5vw;
  margin: auto;
}
#navbarLater {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  background-color: white;
  border-radius: 50px;
  display: show;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 0;
  margin: auto;
  top: 20px;

  width: 85vw;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.show{
  display: flex;
}
#logoAndItems {
  display: flex;
  align-items: center;
}
#logoAndItems a {
  padding: 4px;
  margin: 0.5rem;
  color: white;
  text-decoration: none;
}
#logoAndItems a:hover {
  color: white;
  text-decoration: underline;
}
#logoAndItemsLater {
  display: flex;
  align-items: center;
}
#logoAndItemsLater a {
  padding: 4px;
  margin: 0.5rem;
  color: black;
  text-decoration: none;
}
#logoAndItemsLater a:hover {
  color: black;
  text-decoration: underline;
}

#actionButtons {
  display: flex;
  align-items: center;
}
#actionButtons a {
  color: white;
  text-decoration: none;
  padding: 0 16px;
}
#actionButtons a:hover {
  text-decoration: underline;
}

#actionButtons #demo {
  color: #541554;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 16px;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
#actionButtons #demo:hover {
  border-width: 5px;
  text-decoration: none;
}

.headerSection {
  margin: auto;
  display: flex;
  width: 83vw;
  height: 65vh;
  justify-content: center;
}
.headerSectionText {
  z-index: 2;
  margin-left: -30px;
}
.headerSection video {
  max-height: 400px;
  max-width: 700px;
}
.headerSection h1 {
  max-width: 38.025rem;
  color: white;
}
.headerSection p {
  color: white;
  font-weight: 300;
  margin: 10px 0 30px;
}
.headerSection .headerButton {
  color: #541554;
  background-color: white;
  text-decoration: none;
  padding: 1vw 2vw;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.mainContent {
  background-color: #f4ede4;
}
.mainContentLogos {
  padding: 5vh;
  text-align: center;
}
.mainContentLogos img {
  height: 3rem;
}
.collaborationSections {
  width: 90vw;
  margin: auto;
  padding: 3.5vh 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.collaborationSections div a {
  text-decoration: none;
  color: #1264a3;
}
.collaborationSections div video {
  padding: 2vh 3vw;
  width: 40vw;
}
.collaborationSections div {
  padding: 0 3vw;
}
.collaborationSections div h1 {
  font-size: 3rem;
}
.collaborationSections div p {
  font-size: 17px;
  font-weight: lighter;
  margin: 20px 0;
}
.stats {
  text-align: center;
  margin: 3rem 0;
}
.stats h1 {
  font-size: 3.5rem;
}
.stats p {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.stats div a {
  background-color: #541554;
  text-decoration: none;
  border-radius: 2px;
  margin: 30px 10px;
  padding: 16px 20px;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.statsTag {
  width: 15vw;
  margin: 5vh 0 !important;
}
.statsTag h1 {
  font-weight: bolder;
  font-size: 4rem;
  color: #541554;
  text-align: left;
}
.statsTag p {
  margin: 0;
  text-align: left;
  font-weight: lighter;
}

.statement video {
  border-bottom-right-radius: 20vw;
  border-top-right-radius: 20vw;
}
.statement a {
  text-decoration: none;
  font-size: 18px;
  color: #1264a3;
}
.cardsSection {
  text-align: center;
  background-color: #f4ede4;
  padding: 2rem 0 6rem 0;
}
.cardsSection h1 {
  padding: 2rem;
  font-size: 2rem;
}
.cardsParent {
  text-align: left;
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: 18vw;
  justify-content: space-between;
}
.card:hover {
  cursor: pointer;
}
.card div img {
  text-align: center;
  width: 100%;
  margin: auto;
}
.card div h2 {
  color: gray;
  font-weight: 300;
  margin: 10px 0;
}
.card div h1 {
  font-size: 1.5rem;
  margin: 0 0 40px 0;
  padding: 0;
}
.cardAction {
  display: flex;
  justify-content: space-between;
  color: #1264a3;
}

.finalAction {
  background: #4a154b;
  border: none;
  clip-path: ellipse(75% 100% at center top);
  height: auto;
  min-height: 370px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.finalActionDiv {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.finalAction h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2.5rem;
  color: white;
}
.finalAction div {
  text-align: center;
}
.finalAction div a {
  background-color: #541554;
  text-decoration: none;
  border-radius: 2px;
  margin: 30px 10px;
  padding: 16px 32px;
  color: white;
  box-shadow: inset 0 0 0 1px white;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.linksDiv {
  width: 84vw;
  margin: auto;
  padding: 2vw 0;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: space-between;
}
.linksDiv li {
  list-style: none;
  font-weight: 300;
  color: #444245;
  margin: 20px 0;
}
.linksDiv li:hover {
  cursor: pointer;
}
.footerBottomDiv {
  margin: 0 8vw 3vh;
}
.footerBottomDiv hr {
  margin: 0 0 20px 0;
}
.footerList li {
  display: inline;
  float: left;
}
.footerList li a {
  padding: 0 1rem 0 0;
}
@media screen and (min-width: 64rem) {
  .headerSection h1 {
    font-size: 4rem;
  }
  .headerSection p {
    font-size: 1.25rem;
  }
}
